<html>
    <head>
        <title>Yahtzee: Login</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <section id="user_info_form">
            <form action="/game" method="POST">
                <label for="username_input">Username:</label><br>
                <input type="text" id="username_input" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="text" id="password_input" name="password"> <br>
                <label for="email">Email:</label><br>
                <input type="text" id="email_input" name="email"> <br>

                <button type="submit" id="login_submit">Create</button>
                <button type="submit" id="login_submit">Delete</button>

            </form>
        </section>
    </body>
        
    {% include 'partial/footer.html' %}

</html>